<header class="post-header ">
  <div class="inner">
    <h1 class="post-title">Письма</h1>
    <div class="post-meta">
      <div class="post-meta-avatars">
        <figure class="post-meta-avatar avatar">
          <a href="{{{user.url}}}" class="author-avatar">
            <img class="author-profile-image" src="{{{user.photo_url}}}">
          </a>
        </figure>
      </div>
      <h4 class="post-meta-author">Hello, <a href="{{{user.url}}}">{{{user.name}}}</a>!</h4>
      Thank you for your support!
    </div>
  </div>
</header>
<main class="content" role="main">
  <article class="{{post_class}}">
    <div class="inner">

      <section class="post-content">
        <ul>
          {{#each posts}}
          <li><a href="/posts/{{{this.slug}}}">{{{this.title}}}</a></li>
          {{/each}}
        </ul>
      </section>
    </div>
  </article>
</main>