<header class="post-header ">
  <div class="inner">
    <h1 class="post-title">Письма</h1>
    <div class="post-meta">
      <div class="post-meta-avatars">
        <figure class="post-meta-avatar avatar">
          <a href="{{{user.url}}}" class="author-avatar">
            <img class="author-profile-image" src="{{{user.photo_url}}}">
          </a>
        </figure>
      </div>
      <h4 class="post-meta-author">Привет, <a href="{{{user.url}}}">{{{user.name}}}</a>!</h4>
      Спасибо за поддержку!
    </div>
  </div>
</header>
<div id="index" class="container">

  <main class="content" role="main">

    {{#each posts}}

    <article class="post">
      <div class="inner">
        <div class="box post-box">
          <h2 class="post-title"><a href="/posts/{{{this.slug}}}">{{{this.title}}}</a></h2>
          <span class="post-meta">
            <time datetime="{{this.created_at}}">{{this.created_at}}</time>
          </span>
          <p class="post-excerpt">{{this.custom_excerpt}}</p>
        </div>
      </div>
    </article>

    {{/each}}

  </main>

</div>